# Reference: http://blog.haproxy.com/2012/11/07/websockets-load-balancing-with-haproxy/

global
  daemon
  maxconn 4096
  nbproc 2

defaults
  mode http
  balance roundrobin
  option http-server-close
  timeout connect     5s
  timeout client      30s
  timeout client-fin  30s
  timeout server      30s
  timeout tunnel      1h
  default-server inter 1s rise 2 fall 1 on-marked-down shutdown-sessions
  option forwardfor

listen chat
  bind *:80
  default_backend nodes

backend nodes
  option httpchk GET /ping
  http-check expect status 200
  cookie serverid insert
  server freddie    server-freddie:9999     cookie freddie    check
  server brian      server-brian:9999       cookie brian      check
  server john       server-john:9999        cookie john       check
  server roger      server-roger:9999       cookie roger      check
