<footer class="footer">

    <div class="container">

        <div class="col-md-9">
            &copy;2014
            <a href="http://simonemms.com">
                Simon Emms
            </a>
            under the terms of the
            <a href="https://github.com/slash-dev-slash-null/steeplejack/blob/master/LICENSE">
            <a href="{{ '/blob/master/LICENSE' | prepend: site.github }}">
                MIT License
            </a>
        </div>

        <div class="col-md-3">

            <!--<a href="{{ page.path | prepend: '/edit/gh-pages/' | prepend: site.github }}" class="improve_article">-->
                <!--Improve this article-->
            <!--</a>-->

        </div>

    </div>

</footer>
