<header class="header">

    <div class="masthead clearfix">

        <h3 class="masthead-brand">
            <a href="{{ "/" | prepend: site.baseurl }}">
                <img alt="steeplejack" src="{{ '/img/logo.png' | prepend: site.baseurl }}">
                steeplejack
            </a>
        </h3>

        {% assign page_url = page.url | prepend: site.baseurl | replace:'index.html','' %}

        <ul class="nav masthead-nav">

            {% for link in site.nav %}

                {% assign link_url = link.url | prepend: site.baseurl %}

                <li role="presentation" class="{% if page_url == link_url} %}active{% endif %}">
                    <a href="{{ link.url | prepend: site.baseurl }}">
                        {{ link.name }}
                    </a>
                </li>

            {% endfor %}

        </ul>

    </div>

</header>
