<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}{% if page.title %} :: {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/monokai_sublime.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}">

    <script src="{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bower_components/clipboard/dist/clipboard.min.js' | prepend: site.baseurl }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>

    <script>

        jQuery(document).ready(function () {

            hljs.configure({
                languages: [
                    "javascript",
                    "json"
                ]
            });

            $("pre code").each(function(id, block) {

                var target = jQuery(block);

                /* Get the content */
                var content = target.html();

                /* Highlight it */
                hljs.highlightBlock(block);

                /* Add the copy */
                target.append("<button class=\"copyButton\" id=\"copy_" + id + "\" title=\"Copy\"></button>");

                new Clipboard("#copy_" + id, {
                    text: function() {
                        return content;
                    }
                });

            });

        });

    </script>

</head>
