/**
 * Border Radius
 *
 * Makes a rounded border
 */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    overflow: hidden;
}
