.next_button {

    @extend .btn;
    @extend .btn-success;
    @extend .pull-right;

    margin: {
        top: 20px;
        right: 20px;
        bottom: 30px;
    }

    &:after {
        @extend .fa;

        padding-left: 3px;
        content: $fa-var-chevron-right;
    }

}

.prev_button {

    @extend .btn;
    @extend .btn-danger;
    @extend .pull-left;

    margin: {
        top: 20px;
        left: 20px;
        bottom: 30px;
    }

    &:before {
        @extend .fa;

        padding-right: 3px;
        content: $fa-var-chevron-left;
    }

}

.black_button {

    color: $light-grey;
    text-shadow: 2px 2px $black;
    padding: 10px;

    @include border-radius(5px);

    &:hover {
        text-decoration: none;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
        background: $black;
    }

}
