.api_layout {

    .anchor {

        display: block;
        position: relative;
        top: -($navbar-height + $navbar-padding-vertical);
        visibility: hidden;

    }

    .toc {

        @extend .list-unstyled;

        margin: 0 auto 20px;
        padding: 0 50px;

    }

    h3 {

        padding: 10px;
        margin: 0;

    }

    .extends {

        a {

            display: inline-block;
            margin: {
                top: 20px;
                left: 50px;
                bottom: 20px;
            }

        }

    }

    .api_docs {

        .method {

            @extend .panel;
            @extend .panel-info;

            .toTop {

                @extend .btn;
                @extend .btn-sm;
                @extend .btn-default;

            }

        }

    }

}
