.docs_layout {

    .main_body {

        @extend .col-sm-9;
        @extend .clearfix;

    }

    .sidebar {

        @extend .col-sm-3;
        @extend .clearfix;

        h5 {

            display: block;
            text-transform: uppercase;
            padding: {
                top: $grid-gutter-width / 2;
                bottom: $grid-gutter-width / 2;
            }

        }

        ul {

            @extend .nav;
            @extend .nav-pills;
            @extend .nav-stacked;

        }

    }

}
