.docs_layout {

    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    blockquote {
        font-size: inherit;
    }

    .site_content {
        flex: 1;
    }

    .page_content {

        .main_body {

            @extend .col-sm-9;

        }

        .sidebar {

            @extend .col-sm-3;
            margin: {
                bottom: 50px;
            }

            h5 {
                text-transform: uppercase;
                text-align: right;
                padding: {
                    bottom: $grid-gutter-width / 2;
                }
                border: {
                    bottom: 1px solid $red;
                }
                text-shadow: 2px 2px $black;
                margin: {
                    left: -$grid-gutter-width / 2;
                }
            }

            ul {

                @extend .list-unstyled;

                li {
                    position: relative;

                    a {

                        display: block;
                        margin: {
                            left: -$grid-gutter-width / 2;
                        }
                        padding: {
                            left: $grid-gutter-width;
                        }
                        color: $teal;
                        text-shadow: 2px 2px $black;

                        &:hover {
                            color: darken($teal, 10%);
                            text-decoration: none;
                        }

                    }

                    &.active {

                        a {

                            background: {
                                color: $medium-grey;
                            }
                            color: $orange;
                            font-weight: 500;

                        }
                    }

                }

            }

        }

    }

}
