.docs_layout {

    &.page_content {

        .main_body {

            @extend .col-sm-9;
            @extend .col-sm-push-3;
            @extend .clearfix;

        }

        .sidebar {

            @extend .col-sm-3;
            @extend .col-sm-pull-9;
            @extend .clearfix;

            margin: {
                bottom: 50px;
            }

            h5 {
                display: block;
                text-transform: uppercase;
                padding: {
                    top: $grid-gutter-width / 2;
                    bottom: $grid-gutter-width / 2;
                }
                border: {
                    bottom: 1px solid $red;
                }
                text-shadow: 2px 2px $black;
                margin: {
                    left: -$grid-gutter-width / 2;
                }
            }

            ul {

                @extend .list-unstyled;

                li {
                    position: relative;

                    a {

                        display: block;
                        margin: {
                            left: -$grid-gutter-width / 2;
                        }
                        padding: {
                            left: $grid-gutter-width;
                        }
                        color: $teal;
                        text-shadow: 2px 2px $black;

                        &:hover {
                            color: darken($teal, 10%);
                            text-decoration: none;
                        }

                    }

                    &.active {

                        a {

                            background: {
                                color: $medium-grey;
                            }
                            color: $orange;
                            font-weight: 500;

                        }
                    }

                }

            }

        }

    }

}
