.footer {

    padding: 50px 30px;
    background: $black;
    color: $light-grey;

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }


    .improve_article {

        @extend .black_button;

        &:before {
            @extend .fa;
            content: $fa-var-pencil;
            padding: {
                right: 5px;
            }
        }

    }

}
