.header {

    @extend .navbar;
    @extend .navbar-fixed-top;

    background: {
        color: $black;
    };

    .navbar-header {

        .navbar-toggle {
            border-color: $medium-grey;
            &:hover,
            &:focus {
                background-color: $medium-grey;
            }
            .icon-bar {
                background-color: $white;
            }
        }

        .navbar-brand {

            img {

                margin: {
                    top: -($navbar-padding-horizontal / 2);
                    bottom: -($navbar-padding-horizontal / 2);
                }
                height: $navbar-height - $navbar-padding-horizontal;

            }

        }

    }

}
