.header {

    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;

    .navbar-header {

        .navbar-brand {

            img {

                float: left;
                margin: {
                    top: -($navbar-padding-horizontal / 2);
                    bottom: -($navbar-padding-horizontal / 2);
                    right: ($navbar-padding-horizontal / 2);
                }
                height: $navbar-height - $navbar-padding-horizontal;

            }

            .version_number {

                font: {
                    size: 85%;
                }
                color: $white;

            }

        }

    }

    .nav {

        @extend .navbar-nav;

        @media (min-width: $screen-sm-min) {
            float: right;
        }

    }

}
