.nav {

    @extend .navbar-nav;

    li {

        a {

            color: $white;
            background: none !important;

            &:hover {

                color: $teal;

            }

        }

        &.active {

            a {

                color: $teal;

            }

        }

    }

    @media (min-width: $screen-sm-min) {

        float: right;

    }

}
