---
layout: 'docs'
---

<div class="api_layout">

    {% if page.source %}
        <a href="{{ page.source | prepend: site.github_src | prepend : site.github }}">
            View source code
        </a>
    {% endif %}

    <h4>
        Table of Contents
    </h4>

    <ul class="toc">

        {% for section in page.api %}

            <li class="section">

                <a href="#{{section.type}}head">
                    {% if section.type == 'method' %}
                        Prototype
                    {% else %}
                        Static
                    {% endif %}
                    Methods
                </a>

                <ul>
                    {% for method in section.items %}
                        <li>
                            <a href="#{{section.type}}_{{ method.name }}">
                                {{ method.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}

    </ul>

    <div class="description">
        {{ page.description | markdownify }}
    </div>

    {% if page.extends %}
        <div class="extends">

            <h3>
                Extends
            </h3>

            <a href="{{ page.extends.url }}">
                {{ page.extends.name }}
            </a>

        </div>
    {% endif %}

    {% for section in page.api %}

        <div class="api_docs">

            <h3>
                <a name="{{section.type}}head" class="anchor"></a>
                {% if section.type == 'method' %}
                    Prototype
                {% else %}
                    Static
                {% endif %}
                Methods
            </h3>

            {% for method in section.items %}
                <div class="method">
                    <a name="{{section.type}}_{{ method.name }}" class="anchor"></a>

                    <h5>
                        {{ method.name }}
                    </h5>

                    <h5 class="returns">
                        <strong>Returns:</strong>
                        {% if method.returns %}
                            {{ method.returns }}
                        {% else %}

                            {% if method.name contains '_construct(' %}
                                this
                            {% else %}
                                undefined
                            {% endif %}

                        {% endif %}
                    </h5>

                    <div class="description">
                        {{ method.desc | markdownify }}
                    </div>

                    <a class="toTop" href="#top">Back to top</a>
                </div>
            {% endfor %}

        </div>

    {% endfor %}

</div>
