---
layout: 'docs'
---

<div class="api_layout">

    <h4>
        Table of Contents
    </h4>

    <ul class="toc">

        {% for section in page.api %}

            <li class="section">

                <a href="#{{section.type}}head">
                    {% if section.type == 'method' %}
                        Prototypical
                    {% else %}
                        Static
                    {% endif %}
                    Methods
                </a>

                <ul>
                    {% for method in section.items %}
                        <li>
                            <a href="#{{section.type}}_{{ method.name }}">
                                {{ method.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}

    </ul>

    <div class="description">
        {{ page.description | markdownify }}
    </div>

    {% if page.extends %}
        <div class="extends">

            <h3>
                Extends
            </h3>

            <a href="{{ page.extends.url }}">
                {{ page.extends.name }}
            </a>

        </div>
    {% endif %}

    {% for section in page.api %}

        <h3>
            <a name="{{section.type}}head"></a>
            {% if section.type == 'method' %}
                Prototypical
            {% else %}
                Static
            {% endif %}
            Methods
        </h3>

        {% for method in section.items %}
            <div class="method">
                <a name="{{section.type}}_{{ method.name }}"></a>

                <h5>
                    {{ method.name }}
                </h5>

                <div class="description">
                    {{ method.desc | markdownify }}
                </div>

                <a class="toTop" href="#top">Back to top</a>
            </div>
        {% endfor %}

    {% endfor %}

</div>
