<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body class="default_layout">

        {% include header.html %}

        <div class="site_content">

            <div class="container">

                <div class="page_content">

                    <div class="main_body">
                        {{ content }}
                    </div>

                    <div class="sidebar">

                        <h5>Getting Started</h5>

                        <ul>
                            <li>
                                <a href="#">
                                    Hello
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    Bum
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </body>

    {% include footer.html %}

</html>
