<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    {% assign page_url = page.url | prepend: site.baseurl | replace:'index.html','' %}

    <body class="default_layout">

        {% include header.html %}

        <div class="site_content">

            <div class="container">

                <div class="page_content">

                    <div class="main_body">
                        {{ content }}
                    </div>

                    <div class="sidebar">

                        {% for section in site.docs %}

                            <h5>
                                {{ section.title }}
                            </h5>

                            <ul>
                                {% for doc in section.items %}

                                    {% assign link_url = doc.url | prepend: site.baseurl %}

                                    <li class="{% if page_url == link_url} %}active{% endif %}">
                                        <a href="{{ link_url }}">
                                            {{ doc.name }}
                                        </a>
                                    </li>

                                {% endfor %}
                            </ul>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

        {% include footer.html %}

    </body>

</html>
