html, body {
    background: {
        color: $dark-grey;
    }
    color: $white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: {
        top: 50px;
    }

}

.site_content {
    flex: 1;
}

a {
    outline: none !important;
    color: $teal;
    text-decoration: none;
    transition: all 0.25s ease 0s;

    &:hover {
        color: darken($teal, 10%);
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    text-shadow: 2px 2px $dark-grey;
    color: $lighter-grey;
}
