.roboto-normal {
    font: {
        family: 'Roboto', sans-serif;
        weight: 300;
    }
}

.roboto-heavy {
    font: {
        family: 'Roboto', sans-serif;
        weight: 500;
    }
}

.montserrat-normal {
    font: {
        family: 'Montserrat', sans-serif;
        weight: 400;
    }
}

.montserrat-heavy {
    font: {
        family: 'Montserrat', sans-serif;
        weight: 700;
    }
}
